<form asp-action="ForgotPassword" asp-controller="Authentication" method="post" class="form-signin">
    <div class="form-group">
        <label name="Email" class="sr-only">Email address</label>
        <input name="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>