@model PasswordRecoveryViewModel

<form asp-action="PasswordRecovery" asp-controller="Authentication" method="post" class="form-signin">
    @Html.HiddenFor(prvm => prvm.EncryptedUserId)
    @Html.HiddenFor(prvm => prvm.PasswordRecoveryToken)
    <div class="form-group">
        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Password" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="sr-only">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required>
        <span asp-validation-for="ConfirmPassword" class="form-text text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>
</form>